h1 {
  color: black;
  font-family: monospace;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  justify-content: space-between;
}

.searchBar input[type="text"] {
  border-color: black;
  border-radius: 7px;
  padding: 5px;
  left: 45%;
  position: absolute;
  background-color: white;
}

h1 {
  background-image: url("https://www.britishcouncil.org/sites/default/files/janko-ferlic-174927_1920x1080.jpg");
  height: 200px;
  margin-top: 0;
}
