* {
  background-color: plum;
}

h2 {
  color: black;
  font-family: monospace;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  justify-content: space-between;
}

.searchBar {
  align-items: center;
  display: flex;
}
