$base-padding: 5px;

* {
  color: green;
}

.book {
  width: 300px;
  border: solid 2px grey;
  margin: $base-padding * 2;
  text-align: center;
  height: 400px;
}

img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: solid 2px grey;
}
